aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
blinker
certifi
charset-normalizer
click
dataclasses-json
Flask
frozenlist
greenlet
h11
httpcore
httpx
httpx-sse
idna
itsdangerous
Jinja2
jsonpatch
jsonpointer
langchain
langchain-community
langchain_huggingface
langchain-core
langchain-text-splitters
langsmith
MarkupSafe
marshmallow
multidict
mypy-extensions
numpy
orjson
packaging
propcache
pydantic
pydantic-settings
pydantic_core
python-dotenv
PyYAML
requests
requests-toolbelt
sniffio
SQLAlchemy
tenacity
typing-inspect
typing_extensions
urllib3
Werkzeug
yarl
zstandard
