<html lang="en">
<head>
    <title>EASTELLA</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="C:\Users\User\OneDrive\Desktop\Flask_Chatbot\static\styles\style.css">
    <script src="C:\Users\User\OneDrive\Desktop\Flask_Chatbot\static\scripts\script.js" defer></script>
</head>
<body>
    <button class="chatbot-toggler">
        <span class="material-symbols-outlined">mode_comment</span>
        <span class="material-symbols-outlined">close</span>
      </button>
      <div class="chatbot">
        <header>
            <h2>EASTella</h2>
            <span class="Close-btn material-symbols-outlined">close</span>
        </header>
        <ul class="chatbox">
            <li class="chat incoming">
                <span class="material-symbols-outlined">smart_toy</span>
                <p>Hi there <br> How can I help you today?</p>
            </li>
        </ul>
        <div class="chat-input">
            <textarea placeholder="Enter a message..." required></textarea>
            <span id="send-btn" class="material-symbols-outlined">send</span>
        </div>
      </div>
</body>
</html>